app/banch1/node_modules/
app/new-banch/slide/node_modules/
app/new-banch/slide/.idea/
app/banch1/.idea/
api/.idea/
app/win-banch/.idea/
app/new-banch/slide/platforms/android/cordova/node_modules/
app/new-banch/slide/platforms/android/CordovaLib/
