<ion-content>
  <img src="assets/shapes.svg" alt="" style="width: 100vw;height: 20vh;">

  <div>
    <div style="display: flex;
    height: 80px;
    align-items: center;">
      <div>
        <img src="assets/shapes.svg" alt="" style="width: 50px;height: 50px;border-radius: 50%">
      </div>
      <div>
        <div>安石</div>
        <div>我帶著書和詩、去去尋找運放鋒利的乳汁</div>
      </div>
    </div>
    <div style="display: flex;justify-content: space-around">
      <ion-button>粉丝</ion-button>

      <ion-button>关注的人</ion-button>

      <ion-button>关注</ion-button>
    </div>
  </div>

  <div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <img src="assets/shapes.svg" alt="" >
        </ion-col>
        <ion-col>
          <img src="assets/shapes.svg" alt="" >        </ion-col>
        <ion-col>
          <img src="assets/shapes.svg" alt="" >        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <img src="assets/shapes.svg" alt="" >
        </ion-col>
        <ion-col>
          <img src="assets/shapes.svg" alt="" >        </ion-col>
        <ion-col>
          <img src="assets/shapes.svg" alt="" >        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <img src="assets/shapes.svg" alt="" >
        </ion-col>
        <ion-col>
          <img src="assets/shapes.svg" alt="" >        </ion-col>
        <ion-col>
          <img src="assets/shapes.svg" alt="" >        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
