<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="flash"></ion-icon>
      <ion-label>首页</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="news">
      <ion-icon name="apps"></ion-icon>
      <ion-label>快报</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="golden">
      <ion-icon name="send"></ion-icon>
      <ion-label>金猪</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mine">
      <ion-icon name="contacts"></ion-icon>
      <ion-label>我的</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tiktok">
      <ion-icon name="contacts"></ion-icon>
      <ion-label>tik</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
