<ion-header>
  <ion-toolbar>
    <ion-title>登录</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding style="background-color: #FFFFFF;">
  <div style="padding: 1rem">

    <div>

      <ion-item>
        <ion-label position="floating">账号</ion-label>
        <ion-input  type="text" [(ngModel)]="account" name="account"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">密码</ion-label>
        <ion-input  type="password" [(ngModel)]="pass" name="pass"></ion-input>
      </ion-item>

      <div style="display: flex;justify-content: space-between;margin-top: 1rem">
        <span (click)="forgetPass()" style="color: grey">忘记密码？</span>
        <span (click)="goRegister()" style="color: #4c8dff">去註冊？</span>
      </div>
      <ion-button style="margin-top: 2rem;" expand="block" (click)="login()">登录</ion-button>

    </div>
  </div>

</ion-content>
